@import "tailwindcss";
@source "../app";
@source "../templates";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-*: initial;
  --color-primary: #3696fc;
  --color-primary-dark: #153c64;
  --color-primary-light: #aed5fd;
  --color-neutral: oklch(55.2% 0.016 285.938);
  --color-neutral-dark: oklch(37% 0.013 285.805);
  --color-neutral-light: oklch(92% 0.004 286.32); 
  --color-white: #fff;
  --color-black: #0c0c0c;
  --color-utility-error: oklch(70.4% 0.191 22.216);
  --color-utility-success: oklch(52.7% 0.154 150.069);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {

  .container {
    @apply mx-auto px-4;
  }

}

@layer components {

  .btn {
    @apply inline-flex items-center justify-center rounded px-4 py-2 text-sm font-semibold transition-colors disabled:pointer-events-none disabled:opacity-50;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark;
  }

  .btn-secondary {
    @apply border border-neutral-light bg-white text-primary-dark hover:bg-neutral-light;
  }

}
 
:root {
  @apply font-sans;
}

body {
  @apply bg-white text-black;
}

.label, label {
  @apply text-[10px] tracking-wide sm:text-xs;
}
